@font-face {
    font-family: 'BebasNeue';
    src: url('./BebasNeue-Regular.ttf');
}
.Heading {
    border: solid red;
    flex-grow: 0.3;
  }

.Title {
    
    margin: auto;
    font-family: BebasNeue;
    font-size: 500%;
    text-decoration: underline;
}